@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

:root {
    --cor-principal: #336436;
    --cor-secundaria: #131614;
    --cor-destaque: #937666;
}

body {
    background-image: url('.img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
    color: var(--cor-principal);
}

h1, h2 {
    font-family: 'Kavoon', serif;
    font-weight: 600;
    color: var(--cor-destaque);
}

.lead,
.btn-link {
    font-weight: 600;
    color: var(--cor-destaque);
}

a:hover,
.btn-link:hover {
    color: var(--cor-principal);
}
