@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kavoon&family=Satisfy&display=swap');
:root {
    --cor-principal: #336436;
    --cor-secundaria: #131614;
    --cor-destaque: #937666;
}

body {
    font-family:'Indie Flower' ;
    font-weight: 450;
    color: var(--cor-principal)
}

h1,h2{
.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 600;
  font-style: normal;
  color: var(--cor-destaque)
}

    color: var(--cor-destaque)
}


footer a{
    color: var(--cor-secundaria)
}