@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap');
@import url('https://fonts.cdnfonts.com/css/brasika-display-trial');

:root {
    --cor-principal: #336436;
    --cor-secundaria: #131614;
    --cor-destaque: #b89785;
}

body {
    font-family:'Indie Flower' ;
    color: var(--cor-principal)
    font-weight: 450;
}

h1,h2{
    font-family: 'Brasika Display - Trial', sans-serif;
    color: var(--cor-destaque)
    font-weight: 600;
}


footer a{
    color: var(--cor-secundaria)
}